## Filtrando Información con SQL desde Python

In [7]:
#importacion de librerias
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
pip install --upgrade pyodbc

In [3]:
#abrimos la conexion a la base de datos

server ="DESKTOP-GU4H9H0\SQLEXPRESS"
conexion =pyodbc.connect(driver='{SQL Server}', host =server, database = "DB_PYTHON")
print("conexion exitosa")

conexion exitosa

In [10]:
#creamos un cursor para almacenar la informacion en memoria
cursor = conexion.cursor()

In [12]:
#Filtramos la informacion utilizando SQL

ventas = pd.read_sql("SELECT Nombre FROM VENTAS", conexion)

C:\Users\pc\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
ventas_filtrada = pd.DataFrame(ventas)

In [14]:
conexion.close()

In [15]:
ventas_filtrada

                         Nombre
0      MONTERO WALTER GUILLERMO
1      MONTERO WALTER GUILLERMO
2      MONTERO WALTER GUILLERMO
3      MONTERO WALTER GUILLERMO
4      MONTERO WALTER GUILLERMO
...                         ...
65529           C&H ALARMAS SRL
65530           C&H ALARMAS SRL
65531           C&H ALARMAS SRL
65532           C&H ALARMAS SRL
65533         TOMASSICH CLAUDIO

[65534 rows x 1 columns]